*,
::after,
::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    // font-family: "Montserrat";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    // background-color: #fcfbff;
    font-size: 14px;
    color: #000;
}

.visually-hidden {
    background-color: #fff;
    padding: 7px 3px;
    border-radius: 0 0 3px 3px;
    position: absolute;
    left: 20px;
    transform: translateY(-370%);
    transition: transform 325ms ease-in;
    color: #000 !important;
    z-index: 1000;

    &:focus {
        transform: translateY(0);
    }
}

img {
    max-width: 100%;
    height: auto;

    &.border-round {
        border-radius: 20px;
    }
}

a {
    color: #000;
    transition: all 0.4s;

    &:hover {

    }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
}


main {
    width: 100%;
    max-width: 95%;
    margin: 0 auto;
}

.d-flex {

    @media only screen and (min-width: 768px) {
        // padding: 0 16px;
        // padding: 0;
        display: flex;
        flex-wrap: wrap;
        gap: 15px;

        > * {
            flex-grow: 1;
            flex-basis: 0;
        }
    }
}
