*,
::after,
::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Fira Mono", monospace;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #000;
    font-size: 14px;
    color: #fff;
}

.visually-hidden {
    background-color: #fff;
    padding: 7px 3px;
    border-radius: 0 0 3px 3px;
    position: absolute;
    left: 20px;
    transform: translateY(-370%);
    transition: transform 325ms ease-in;
    color: #000 !important;
    z-index: 1000;

    &:focus {
        transform: translateY(0);
    }
}

img {
    max-width: 100%;
    height: auto;

    &.border-round {
        border-radius: 20px;
    }
}

a {
    color: #fff;
    transition: all 0.4s;

    // &:hover {
    // }

    &.button {
        display: inline-block;
        background-color: #ff1493;
        color: #fff;
        padding: 10px 15px;
        border-radius: 7px;
        text-decoration: none;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
}

h1 {
    text-align: center;

    @media only screen and (min-width: 768px) {
        text-align: left;
    }

    &::first-letter {
        font-size: 30px;
        color: #ff1493;
    }
}

main {
    width: 100%;
    max-width: 95%;
    margin: 0 auto;
    padding-top: 72px;
    min-height: calc(100vh - 30.5px);
}

.d-flex {
    @media only screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;

        > * {
            flex-grow: 1;
            flex-basis: 0;
        }
    }
}

.loading {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 40px;
    width: 40px;
    // background-image: url(../img/loader.svg);
    background-color: #ff1493;
    border-radius: 50%;
    z-index: 999;
}
