.main-menu {
    &.--header {
        z-index: 2;
        position: relative;

        ul {
            justify-content: center;
            position: relative;

            // &::before {
            //     content: "<PieroNanni>";
            //     position: absolute;
            //     top: -5px;
            //     height: 10px;
            //     // width: 10px;
            //     // background-color: red;
            //     left: calc(50% - 230px);

            //     font-family: monospace, monospace;
            // }

            // &::after {
            //     content: "</PieroNanni>";
            //     position: absolute;
            //     top: -5px;
            //     height: 10px;
            //     // width: 10px;
            //     // background-color: blue;
            //     right: calc(50% - 230px);

            //     font-family: monospace, monospace;
            // }

            li {
                margin: 0 5px;

                a {
                    text-decoration: none;
                    border: 1px solid #ff1493;
                    padding: 5px 9px;

                    &.is-active {
                        color: #ff1493;
                    }
                }
            }
        }
    }

    &.--footer {
        ul {
            justify-content: center;

            @media only screen and (min-width: 768px) {
                justify-content: left;
            }

            li {
                a {
                    text-decoration: none;

                    &.is-active {
                        color: #ff1493;
                    }
                }
            }
        }
    }
}
