nav {
    ul {
        padding-left: 0;
        margin: 0;
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;

        li {
            margin-right: 10px;

            &:last-child {
                margin-right: 0;
            }

            // a {
            //     text-decoration: none;

            //     &:hover {
            //         text-decoration: underline;
            //     }
            // }
        }
    }
}
