.socials-menu {
    transform: translate(-50%);
    z-index: 1;
    position: absolute;
    width: 100%;
    bottom: 13px;
    left: 50%;

    ul {
        justify-content: center;
        padding: 0 15px;

        // @media only screen and (min-width: 768px) {
        //     justify-content: center;
        // }

        li {
            margin: 0 -190px !important;
            z-index: 10;

            a {
                display: flex;
                align-items: center;
                z-index: 10;

                &:hover {
                    img {
                        transform: rotate(45deg);
                        background-color: #fff;
                    }
                }

                img {
                    z-index: 10;
                    transition: all 0.4s;
                    background-color: #ff1493;
                    border-radius: 50%;
                }

                // span {
                //     display: none;

                //     @media only screen and (min-width: 768px) {
                //         display: inline;
                //     }
                // }
            }
        }
    }
}
