.socials-menu {
    z-index: 2;
    position: absolute;
    bottom: 6px;
    width: 100%;
    left: 0;

    @media only screen and (min-width: 768px) {
        bottom: -20px;
        left: 50%;
        transform: translateX(-50%);
    }

    ul {
        justify-content: space-between;

        @media only screen and (min-width: 768px) {
            justify-content: center;
        }

        li {
            a {
                &:hover {
                    img {
                        transform: rotate(45deg);
                        background-color: #fff;
                    }
                }

                img {
                    transition: all 0.4s;
                    background-color: #ff1493;
                    border-radius: 50%;
                }

                span {
                    display: none;

                    @media only screen and (min-width: 768px) {
                        display: inline;
                    }
                }
            }
        }
    }
}
