.technologies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 7px 17px;
    margin-bottom: 30px;

    @media only screen and (min-width: 768px) {
        gap: 10px 30px;
    }

    &__single {
        cursor: pointer;
        transition: all 0.4s;
        display: flex;
        gap: 0 5px;
        align-items: center;

        &.is-active,
        &:hover {
            color: #ff1493;
        }

        span {
            font-size: 12px;

            @media only screen and (min-width: 768px) {
                font-size: 14px;
            }
        }
    }
}
